.box {
    font-weight: bold;
    width: 100px;
    text-align: center;
    vertical-align: middle;

    background-color: #218f28;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

a:link, a:visited, a:hover, a:active {
    color: white;
    text-decoration: none;
}

.loginbox {
    font-weight: bold;
    width: 240px;
    text-align: center;
    vertical-align: middle;

    background-color: #aeaeae;
    border: none;
    color: black;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    margin: auto;
}

button {
    background-color: #4e4e4e;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.newbox {
    font-weight: bold;
    width: 100px;
    text-align: center;
    vertical-align: middle;

    border: none;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;

    background-color: blue;
    color: white;
    cursor: pointer;

    display: block;
    margin-left: auto;
    margin-right: auto;

    overflow: hidden;
}

.newanounc {
    font-weight: bold;
    width: 600px;
    text-align: center;
    vertical-align: middle;

    background-color: #aeaeae;
    border: none;
    color: black;
    padding: 10px 2px;
    text-decoration: none;
    font-size: 16px;
    margin: auto;
}

ul.top_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e0e0e0;
}

li.top_bar {
    float: left;
}

ul.top_bar, li.top_bar {
    text-align: center;
    vertical-align: middle;
    height: 90px;
    line-height: 90px;
}

p {
    word-break: break-all;
    width: 95%
}

.big-text {
    font-size: 2em;
    font-weight: bolder;
}
