table, th, td
{
    border: 3px solid rgba(19, 0, 209, 0.93);
    border-collapse: collapse;

    text-align: center;
    vertical-align: top;
}

button
{
    background-color: #8f298b;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

div.box
{
    font-weight: bold;
    width: 100px;
    text-align: center;
    vertical-align: middle;

    background-color: #218f28;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

a:link, a:visited, a:hover, a:active
{
    color: white;
    text-decoration: none;
}


div.but
{
    background-color: #218f28;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
